* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter";
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  margin: auto;
}
.App ol {
  display: flex;
  justify-content: center;
  counter-reset: count;
}
#root > div > div > div:nth-child(3) > div {
  position: relative;
}
#root > div > div > div:nth-child(3) > div > button:nth-child(2) {
  visibility: hidden;
}
#root > div > div > div:nth-child(3) > div > button:nth-child(2)::before {
  content: "Create Workspace";
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  min-height: 2.5rem;
  min-width: 100%;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #664de5;
  color: #fff;
  cursor: pointer;
}
.App div:first-child ol li:first-child {
  background-image: linear-gradient(#ccc, #ccc);
  background-size: 50% 2px;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.App div:first-child ol li:last-child {
  background-image: linear-gradient(#ccc, #ccc);
  background-size: 50% 2px;
  background-position: bottom left;
  background-repeat: no-repeat;
}
.App div:first-child ol li {
  background-image: linear-gradient(#ccc, #ccc);
  background-size: 50% 2px;
  background-position: bottom left;
  background-repeat: repeat-x;
  margin: 0;
  border: none;
}
.App div:first-child ol li.go433304200,
.App div:first-child ol li.go3842760039 {
  background-image: linear-gradient(#664de5, #664de5);
}
.go433304200:before,
.go3842760039:before {
  min-width: 1.3rem;
  min-height: 1.3rem;
  border-radius: 0.8rem;
  background-color: #664de5;
}
.go2335061104:before {
  min-width: 1.3rem;
  min-height: 1.3rem;
  border-radius: 0.8rem;
  background-color: #fff;
  border: 1px solid #ccc;
}
.go2335061104:before,
.go3842760039:before,
.go433304200:before {
  content: counter(count);
  counter-increment: count;
}
.App div:first-child ol li span {
  visibility: hidden;
}
